<template>
<div>
    <headerMain></headerMain>
    <section class="flex coin_title">
      <div class="flex title">
        <h1 class="title_component h1">
          Bitcoin
          <small class="coinsymbols">BTC</small>
        </h1>
      </div>
      <div class="flex title">
        <h5 class="small_component">Bitcoin price
        <small>(BTC)</small>
        </h5>
        <h2 class="PriceValue">23000$</h2>
      </div>
    </section>
    <section class="flex stats_section">
      <div class="statsblock">
        <span class="stats_title">Market Cap</span>
        <div class="statsvalue">$548,543,988,064</div>
      </div>
      <div class="statsblock">
        <span class="stats_title">Volume 24h</span>
        <div class="statsvalue">$30,815,633,087</div>
        <span class="stats_title">Volume / Market Cap</span>
        <div class="statsvalue">0.05659</div>
      </div>
    </section >
    <section class="coin_graph">
    </section>
    <footerPart></footerPart>
    </div>
</template>

<script>
export default {
  name: "coinInfo"
}
</script>

<style scoped>
section{
  display: flex;
}
h1{
  font-size: 7.8vw;
  color: black;
}
.coinsymbols{
  font-size: small;
  color: dimgray;
}
.statsblock{

}
.stats_title{
  font-size: 1vw;
  color: #1c1b1b;
}
.statsvalue{
  font-size: x-large;
  color: black;
}
.stats_section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  padding-top: 5rem;
}
.coinsymbols{
  font-size: 2vw;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.coin_title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title{
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  flex-direction: row;
  display: inline-block;
}

.title_component{
  display: inline-block;
}
.small_component{
  margin-top: 2rem;
}
.PriceValue{
  color: black;
  font-size: xxx-large;
}

</style>