<template>
<div>
    <headerMain />
    <div class="login_box">
      <login-form></login-form>
    </div>
    <footerPart></footerPart>
</div>
</template>
  
<script>
import headerMain from '@/components/Header.vue'
import LoginForm from '@/components/LoginForm.vue'
import footerPart from '@/components/Footer.vue'

export default {
  name: 'LoginPage',
  components: {
      headerMain,
      LoginForm,
      footerPart
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/styles/main";
*{
  margin: 0;
  padding: 0;
}
.login_box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>