<template>
<div id="app">
  <div class="flex header-inner">
    <div class="flex header-inner-logo">
      <svg width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="65" cy="65" r="65" fill="#343030"/>
        <line x1="79.9333" y1="97.0667" x2="79.9333" y2="33.6518" stroke="white" stroke-width="10"/>
        <line x1="47.8667" y1="97.0667" x2="47.8667" y2="33.6518" stroke="white" stroke-width="10"/>
        <line x1="32.9333" y1="63.6" x2="96.3483" y2="63.6" stroke="white" stroke-width="8"/>
      </svg>
      <span>HKCOINSELLER</span>
    </div>
    <nav class="header-nav-links flex">
      <router-link to="/" exact-active-class="link-active" class="header-nav-link">Главная</router-link>
      <router-link to="#" exact-active-class="link-active" class="header-nav-link">Крипто-новости</router-link>
      <span v-if="loggedIn === true" class="header-nav-link">{{username}}</span>
      <router-link v-if="loggedIn === false" to="/login" exact-active-class="link-active" class="header-nav-link">Войти</router-link>
      <div v-if="loggedIn === true" @click="logout" class="header-nav-link header-nav-link-exit"><img src="@/assets/img/exit.png" alt="exit"></div>
    </nav>
    <div class="media_nav">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
</template>

<script>
const config = require('../config') 
export default {
  created(){
    if(JSON.parse(localStorage.getItem('user')) != null){
      let user = JSON.parse(localStorage.getItem('user'));
      console.log(user.rows[0].login)
      this.username = user.rows[0].login
      this.loggedIn = true;
    }
  },
  data () {
    return {
      email : "",
      password : "",
      username:null,
      loggedIn:false,
    }
  },  
  methods:{
    logout(e){
      e.preventDefault()
      localStorage.removeItem("user")
      localStorage.removeItem("jwt")
      this.$router.push('/login');
    },
  },
}
</script>
<style scoped lang="scss">
@import "@/assets/styles/main";
*{
  margin: 0;
  padding: 0;
}
.link-active{
  border-bottom: #343030 1px solid;
}
.header-inner {
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
  background: #FEFEFE;
  box-shadow: 0px 4px 93px #EFEFEF;
  padding: 0 vw(60);
}
.header-inner-logo {
  margin: vw(38) 0 vw(39);
  flex-direction: row;
}
svg{
  width: vw(100);
  height: vw(100);
}
span{
  color: #343030;
  margin-left: vw(43);
  color: #343030;
  font-weight: 400;
  font-size: vw(50);
  line-height: vw(65);
}

.header-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: vw(34);
  line-height: vw(46);
  color: #343030;

}
.header-nav-link + .header-nav-link{
  margin-left: vw(130);    
  }
    .header-nav-link-exit{
      img{
         width: vw(40);
         }
    }
.header{
  width: 100%;
}
.media_nav{
  display: none;
}
@media (max-width: 768px){
  .header-nav-link{
    display: none;
  }
  .media_nav{
    display: block;
  }
  .media_nav div{
    width: m_vw(50);
    height: m_vw(6);
    background: #323030;
    border-radius: m_vw(50);
  }
  .media_nav div:nth-child(2){
    margin: m_vw(5) 0;
  }
}
</style>
