<template>
<div class="authPage-loginForm" id="app">
  <h2>Авторизация</h2>
  <form class="flex">
    <input id="email" type="email" placeholder="e-mail" v-model="email" required autofocus />
    <input id="password" type="password" placeholder="Пароль" v-model="password" required />
    <div class="flex">
      <button type="submit" @click="handleSubmit">Войти</button>
      <router-link :to="{path:'/reg'}">Регистрация</router-link>
    </div>
  </form>
</div>
</template>

<script>
const config = require('../config') 
import headerMain from '@/components/Header.vue'
export default {
  name: 'HeaderLog',
  components: {
    headerMain
  },
  data () {
    return {
      email : "",
      password : ""
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      if (this.password.length > 0) {
        this.$http.post(`${config.default.baseURL}/login`, {
          email: this.email,
          pass: this.password
        })
        .then(response => {
              let is_admin = response.data.user.rows[0].role
              localStorage.setItem('user',JSON.stringify(response.data.user))
              localStorage.setItem('jwt',response.data.token)

              if (localStorage.getItem('jwt') != null) {
                this.$emit('loggedIn')
                if (this.$route.params.nextUrl != null) {
                  this.$router.push(this.$route.params.nextUrl)
                }
                else {
                  if (is_admin === 1) {
                    this.$router.push('admin')
                  }
                  else {
                    this.$router.push('/')
                  }
                }
              }
            })
            .catch(function (error) {
              console.error(error.response);
            });
      }
    }
  },
}
</script>

<style scoped lang="scss">
@import "@/assets/styles/main";
*{
  margin: 0;
  padding: 0;
}
.authPage-loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #4D4E56;
  border-radius: 20px;
  width: vw(700);
  margin-top: vw(100);
    h2{
      margin-top:vw(16);
      margin-bottom:vw(26);
      font-weight: 500;
      font-size: vw(40);
      line-height: vw(54);
    }
    form{
      margin:0 vw(162) 0 vw(162);
      flex-direction: column;
      input{
        width: vw(362);
        background: rgba(255, 255, 255, 0.35);
        border-radius: 13px;
        box-sizing: border-box;
        border:none;
        padding: vw(18) 0 vw(18) vw(24);
      }
      input::placeholder{
        font-weight: 500;
        font-size: vw(20);
        line-height: vw(23);
        color: #474444;
      }
    input:nth-child(2){
        margin-top:vw(14);
      }
    div{
        width: vw(362);
        margin-top:vw(34);
        margin-bottom:vw(28);
        justify-content: space-between;
    button{
        width: vw(168);
        height: vw(52);

        border: none;
        background: #AEC5B8;
        box-sizing: border-box;
        border-radius: 13px;

        font-weight: 500;
        font-size: vw(20);
        line-height: 23px;

        color: #FFFFFF;
      }
      a{
        font-weight: 500;
        font-size: vw(20);
        line-height: vw(23);
        color: #474444;
      }
    }
  }
}
</style>
