<template>
<div id="app">

      <div class="container flex header-auth-page">
        <div class="flex authPage-loginForm">
          <div class="flex authPage-loginForm-svg">
            <svg width="54" height="79" viewBox="0 0 54 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.36719 76.223V68.0712C2.36719 63.7473 4.08487 59.6004 7.14237 56.5429C10.1999 53.4854 14.3467 51.7677 18.6707 51.7677H34.9741C39.2981 51.7677 43.4449 53.4854 46.5024 56.5429C49.5599 59.6004 51.2776 63.7473 51.2776 68.0712V76.223M43.1259 19.1608C43.1259 28.1649 35.8266 35.4643 26.8224 35.4643C17.8182 35.4643 10.5189 28.1649 10.5189 19.1608C10.5189 10.1566 17.8182 2.8573 26.8224 2.8573C35.8266 2.8573 43.1259 10.1566 43.1259 19.1608Z" stroke="#777777" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <h2>Регистрация</h2>
          <form class="flex">
            <input id="email" type="text" placeholder="Логин" v-model="login" required autofocus />
            <input id="email" type="email" placeholder="e-mail" v-model="email" required autofocus />
            <input id="email" type="password" placeholder="Пароль" v-model="pass" required autofocus />
            <input id="password" type="password" placeholder="Повторите пароль" v-model="password_confirmation" required />
            <div class="flex">
                <button type="submit" @click="handleSubmit">Создать аккаунт</button>
            </div>
          </form>
        </div>
      </div>
</div>
</template>

<script>
const config = require('../config') 
export default {
  props: ["nextUrl"],
  data() {
    return {
        login : "",
        email : "",
        pass : "",
        password_confirmation : ""
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      if (this.pass === this.password_confirmation && this.pass.length > 0) {
        this.$http.post(`${config.default.baseURL}/registration`, {
          login: this.login,
          email: this.email,
          password: this.pass
        })
          .then(response => {
            localStorage.setItem('user', JSON.stringify(response.data.user))
            localStorage.setItem('jwt',response.data.token)

            if (localStorage.getItem('jwt') != null) {
              this.$emit('loggedIn')
              if (this.$route.params.nextUrl != null) {
                this.$router.push(this.$route.params.nextUrl)
              } else {
                this.$router.push('/')
              }
            }
          })
          .catch(error => {
            console.error(error);
          });
      } else {
        this.pass = ""
        this.passwordConfirm = ""

        return alert("Passwords do not match")
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/styles/main";

#app {
  // background-image: url('@/assets/img/pbg.png');
  background-repeat: no-repeat;
  background-position: 70% 70%;

.header{
  background-color: rgba(255, 255, 255, 0.5);
}
  .header-wrapper{
    flex-direction: column;
  }
.header-inner {
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
  
}
.header-inner-logo {
  margin: vw(38) 0 vw(39);
  flex-direction: row;
  svg{
    width: vw(134);
    height: vw(134);
  }
  span{
    font-size: vw(50);
    color: #474444;
  }
}
.header-nav-link {
    font-size: vw(27);
          line-height: vw(37);
          color: #343030;
}
.header-nav-link + .header-nav-link{
  margin-left: vw(130);    
  }
    .header-nav-link-exit{
      img{
         width: vw(40);
         }
    }
  .header-auth-page {
  }
  .header-slogan {
    margin-left: vw(276);
      .slogan {
        color: #474444;
        width: vw(733);
        height: vw(395);
        background: rgba(255, 255, 255, 0.5);
        margin: vw(132) 0 vw(183) 0;
        h1{
          display: inline-block;
          font-weight: 500;
          font-size: vw(60);
          line-height: vw(82);

          width: vw(643);
          height: vw(168);
          margin: vw(34) vw(45) vw(36) vw(45);
        }
        div{
          font-size: vw(28);
          line-height: vw(38);
          margin: 0 vw(52) vw(41) vw(45);
        }
    }
  }
  .authPage-loginForm {
    flex-direction: column;
    justify-content: center; 
    background: rgba(255, 255, 255, 0.5);
      .authPage-loginForm-svg {
        width: vw(200);
        height: vw(200);
        margin-top:vw(22);
        border-radius: 100px;

        justify-content: center;  

        background: #EAEAEA;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        svg{
          width: vw(105);
          height: vw(80);
        }
      }
       h2{
          margin-top:vw(16);
          margin-bottom:vw(26);
          font-weight: 500;
          font-size: vw(40);
          line-height: vw(54);
        }
        form{
          margin:0 vw(162) 0 vw(162);
          flex-direction: column;
          input{
            width: vw(362);
            background: rgba(255, 255, 255, 0.35);
            border-radius: 13px;
            box-sizing: border-box;
            border:none;
            padding: vw(18) 0 vw(18) vw(24);
          }
          input::placeholder{
            font-weight: 500;
            font-size: vw(20);
            line-height: vw(23);
            color: #474444;
          }
          input + input{
            margin-top:vw(14);
          }
          div{
            width: vw(362);
            margin-top:vw(34);
            margin-bottom:vw(28);
            justify-content: center;
          button{
            height: vw(52);

            border: none;
            background: #AEC5B8;
            box-sizing: border-box;
            border-radius: 13px;

            font-weight: 500;
            font-size: vw(20);
            line-height: 23px;

            color: #FFFFFF;
          }
          a{
            font-weight: 500;
            font-size: vw(20);
            line-height: vw(23);
          }
          }
        }
    }
    .link-active {
    color: #474444;
    opacity: 1;
    text-decoration: underline;
  }
}
</style>