<template>
    <div class="top_new_box">
            <div class="flex category-header">
                <div>
                    <img :src="content.img">
                    <h3>{{content.title}}</h3>
                </div>
                <router-link to="/">
                    <p>Больше</p>
                    <svg width="vw(45)" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.0625 12.1875L3.5625 1.5C2.8125 0.75 1.6875 0.75 0.9375 1.5C0.1875 2.25 0.1875 3.375 0.9375 4.125L10.125 13.3125L0.9375 22.5C0.5625 22.875 0.375 23.25 0.375 23.8125C0.375 24.9375 1.125 25.6875 2.25 25.6875C2.8125 25.6875 3.1875 25.5 3.5625 25.125L14.25 14.4375C14.8125 14.0625 14.8125 12.9375 14.0625 12.1875Z" fill="#2D77BB"/>
                    </svg>
                </router-link>
                </div>
                <div class="crypta" v-for="(category, index) in dataList" :key="index">
                    <div>
                        <p>{{category.number}}</p>
                        <p>{{category.name}}</p>
                        <p>{{category.symbol}}</p>
                    </div>
                    <p>{{category.price}}</p>
                </div>
    </div>
</template>
<script>
export default {
    name: 'TopСrypto',
    props: {
        dataList: {
            type: Array
        },
        title: {
            type: String
        },
        imagepath: {
            type: String
        },
        content: {
            type: Object
        }
    }
}
</script>
<style lang="scss" scoped>
@import "@/assets/styles/main";
.top_new_box{
    height: vw(407);
    width: vw(796);
    background: #FFFFFF;
    border: vw(1) solid #4D4E56;
    border-radius: vw(20);
    padding: vw(33) vw(32) vw(65) vw(55);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category-header{
    margin-bottom: vw(24);
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width:vw(50);
        }
        h3{
            font-size: vw(34);
            margin-left:vw(12);
        }
    }
    a{
        align-items: center;
        display:flex;
        flex-direction:row;
        font-size: vw(34);
        P{
            margin-right: vw(10);
            color: #2D77BB;
        }
        svg{
            width: vw(35);
            height: vw(35);
        }
    }
}
.crypta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.crypta div{
    display: flex;
}
.crypta p{
    font-weight: 500;
    font-size: vw(27);
    line-height: vw(46);
    color: #4D4E56;
}
.crypta div p:nth-child(2){
    margin-left: vw(26);
}
.crypta div p:nth-child(3){
    margin-left: vw(22);
    color: #9D9D9D;
}
</style>