@import "@/assets/styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800&&display=swap');

@function vw($size){
  $result: ($size/1920) * 100rem;
  @return $result
};

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans';
}
html {
  font-size: 1vw;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  width: vw(1696);
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
